<h1>Contact The Developer</h1>

<p>For securiy reasons, if you have forgotten your password, please contact the developer to request a new password be
    issued.</p>
<p>The developer can be contacted at: <u>connolly-m46@ulster.ac.uk</u></p>
<p>If you come across any issues with the application please report these to the developer as soon as possible.</p>
<ul>
    <li>
        <p>It would be very helpful if you could include as much detail as possible in your email</p>
    </li>
</ul>