<h1 class="m-4 center">
    Privacy Policy
    <i class="bi bi-shield-lock"></i>
</h1>



<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="state-tab" data-bs-toggle="tab" data-bs-target="#state-tab-pane" type="button"
            role="tab" aria-controls="state-tab-pane" aria-selected="true">Statement..</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button"
            role="tab" aria-controls="home-tab-pane" aria-selected="true">What..</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button"
            role="tab" aria-controls="profile-tab-pane" aria-selected="false">Why..</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button"
            role="tab" aria-controls="contact-tab-pane" aria-selected="false">Storage..</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active m-4" id="state-tab-pane" role="tabpanel" aria-labelledby="state-tab" tabindex="0">
        <div class="card shadow">
            <h5 class="m-4">Privacy Statement</h5>
            <div class="m-4">
                <p>If this application were to go to public issue, all laws and guidelines regarding secure data stroage would be adhered to.</p>
            </div>
        </div>
    </div>

    <div class="tab-pane fade m-4" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <div class="card shadow">
            <h5 class="m-4">What Information Do We Collect?</h5>
            <p class="m-4">We collect:
                <ul>
                    <li>Your name</li>
                    <li>Email address</li>
                    <li>Password (in encrypted form)</li>
                    <li>Cookies</li>
                    <li>Address</li>
                    <li>Contact numbers</li>
                    <li>GP information</li>
                </ul>
            </p>
        </div>
    </div>

    <div class="tab-pane fade m-4" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <div class="card shadow">
            <h5 class="m-4">Why Do we Collect and Store Your Information?</h5>
            <div class="m-4">
                <p>We collect this information only so that you can be added to our database to allow sight tests to be conducted and the data potentially used for research.</p>
                <p>None of your personal information is used for purposes other than these.</p>
                <p>Cookies used on this site are only to validate users and allow us to keep your data secure.</p>
            </div>
        </div>
    </div>

    <div class="tab-pane fade m-4" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
        <div class="card shadow">
            <h5 class="m-4">For How Long Do We Store Your Information?</h5>
            <div class="m-4">
                <p>GDPR in the UK means your data can only be stored for as long as is required for the intended purposes.</p>
                <p>Normally your data will be stored for 10 years unless there is a reason to extend this.</p>
            </div>
        </div>
    </div>

</div>