@model RSearchViewModel

<form asp-action="Research" method="GET">
    <div class="form-group">
        <label for="StartDate">Start Date:</label>
        <input type="date" id="StartDate" name="StartDate" class="form-control" required value="@Model.StartDate" />
    </div>
    <div class="form-group">
        <label for="EndDate">End Date:</label>
        <input type="date" id="EndDate" name="EndDate" class="form-control" required value="@Model.EndDate"/>
    </div>
    <div class="form-group">
        <label for="RxType" class="form-label"><i class="bi-person-badge-fill"></i>Precription</label>
            <select asp-for="RxType" asp-items="Html.GetEnumSelectList<RxType>()" class="form-control">
                <option>Select..</option>
            </select>
            <span asp-validation-for="RxType" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>